body {
	background-color: rgb(19, 19, 19);
}

/* mode banner */
.mode-explain {
	justify-content: center;
	width: 100%;
	height: 90%;
	gap: 50px;
	background-color: rgb(130, 62, 255);
}

.mode-explain p {
	width: 50%;
	margin: 0;
	font-size: 0.8rem;
}

.mode-banner {
	background: linear-gradient(To right, rgb(130, 62, 255), rgb(184, 0, 61));
	width: 100%;
	height: 100px;
}

/* trial editor */
.editor-container {
	width: 80%;
	height: 2000px;
	background-color: rgb(27, 27, 27);
	margin: 100px auto;
	flex-direction: column;
	gap: 5px;
}

.controls {
	width: 95%;
	height: 5%;
	background-color: rgb(48, 48, 48);
	border-bottom: 3px solid rgb(130, 62, 255);
}

.page {
	width: 95%;
	height: 90%;
	background-color: rgb(48, 48, 48);
}

.page-content {
  width: 95%;
  height: 95%;
  background-color: rgb(48, 48, 48);
  border: none;
  resize: none;
  outline: none;
}
